<div class="container">
  <div class="text-left">
    <h1>Form Renderer</h1>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="" class="form-label">Select Form:</label>
        <select class="form-control form-select-lg mb-3" name="FormTitle" (change)="renderTemplate($event)">
          <option value="-1" selected>select template</option>
          <option *ngFor="let form of formTemplates; let i = index" [value]="i">
            {{ form.title }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-8">
      <div id="formio"></div>
    </div>
  </div>
  <hr>

  <!-- <div class="col-md-6 p-3">
            <div class="text-center">
                <h4>Form Components Json</h4>  
            </div>
            <div class="input-group mb-3 mt-3">
               <pre> {{selectedJsonRef }}</pre>
              </div>
        </div> -->
  <div class="col jsonScreen">
    <ng-container *ngIf="isTemplateSelected; then selectedJsonRef; else emptyJsonRef"></ng-container>

    <ng-template #emptyJsonRef>
      <div>JSON not available!</div>
    </ng-template>

    <ng-template #selectedJsonRef>
      <div class="row">
        <div class="col-md-6 p-3">
          <div class="text-center">
            <h4>Form Components</h4>
          </div>
          <div class="input-group mb-3 mt-3">
            <pre> {{selectedTemplate | json }}</pre>
          </div>
        </div>
        <div class="col-md-6 p-3">
          <div class="text-center">
            <h4>Submit Data </h4>
          </div>
          <div class="input-group mb-3 mt-3">
            <pre>{{FormSubmitJson}}</pre>

          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>